.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @include onTablet {
    align-items: flex-start;
  }

  @include onDesktop {
   margin-top: 60px;
  }

  p {
    margin-top: 12px;
    @include onTablet {
      font-size: 16px;
    }
  }
}
