body {
  background-image: url(../assets/ellipsis.svg);
  background-repeat: no-repeat;
  background-position: top 60% right;
}
.container {
  margin: 0 auto;
  // min-width: 320px;
  padding-inline: 20px;

  @include onTablet  {
    padding-inline: unset;
    width: 604px;
  }
  @include onDesktop  {
    width: 1230px;
  }
}