.footer-container {
    margin:  $margin-top-mob auto 0;
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 40px + 1vw, 80px);

    @include onTablet {
      margin-top: $margin-top-tab;
    }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
  }
  h5 {
    font-weight: 700;
    font-size: 18px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;

    @include onDesktop {
      justify-content: flex-start;
      text-align: left;
    }

    .socials {
      display: flex;
      gap: 20px;
    }
  }

  &__center {
    max-width: 285px;
    display: none;

    @include onDesktop {
      display: block;
    }

    ul {
      display: grid; 
      grid-template-columns: repeat(2, 1fr);
      column-gap: 32px;
      row-gap: 12px;
      margin-top: 20px;
      li {
        width: max-content;
      }
    }
  }

  &__right {
    h5 {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    ul {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      
      li {
        display: flex;
        align-items: center;
        gap: 12px;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom {
    padding: 40px 18px;
    border-top: 1px solid #414141;
      @include onDesktop {padding-inline: 0;}

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;
      text-align: center;

      @include onDesktop {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
      }

      li {
        a {
          font-size: 12px;
          color: #D7D7D7;
          letter-spacing: 0;
        }
      }

      li:first-of-type a { 
        font-weight: 700;
      }
    }; 
  }
}