.job-seeking {
  margin-top: $margin-top-mob;

  @include onTablet {
    margin-top: $margin-top-tab;
    padding: 80px 29px;
    background-color: #212121;
    border-radius: 32px;
  }
  @include onDesktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 78px;
    padding: 80px 104px;

    & > div:first-child {
      width: 546px;
    }
  }
  h2 {
    text-align: center;

    @include onDesktop {
      text-align: left;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    @include onTablet {
      margin-top: 40px;
      gap: 28px;
    }
  }
  li{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 20px;

    @include onTablet {
      p,strong {
        font-size: 16px;
      }
    }
  }
  .img-container {
    margin: 40px auto 0;
    width: 256px;
    height: 204px;

    background-image: url(../assets/icons/job-seeking/employment.png);
    background-size: contain;
    background-repeat: no-repeat;

    @include onTablet {
      width: 396px;
      height: 314px;
    }
  }
}