@import 'global.scss';
@import '../styles/utils/variables';
@import '../styles/utils/mixins';
@import '../styles/utils/extends';
@import '../styles/blocks/burger.scss';
@import '../styles/blocks/header.scss';
@import '../styles/blocks/benefits.scss';
@import '../styles/blocks/why-ai.scss';
@import '../styles/blocks/call-to-action.scss';
@import '../styles/blocks/container.scss';
@import '../styles/blocks/business.scss';
@import '../styles/blocks/if-you.scss';
@import '../styles/blocks/who-teaches.scss';
@import '../styles/blocks/what-u-learn.scss';
@import '../styles/blocks/course-program.scss';
@import '../styles/blocks/what-awaits.scss';
@import '../styles/blocks/result.scss';
@import '../styles/blocks/learning-process.scss';
@import '../styles/blocks/ai-usage.scss';
@import '../styles/blocks/job-seeking.scss';
@import '../styles/blocks/practice-for-companies.scss';
@import '../styles/blocks/installments.scss';
@import '../styles/blocks/book-place.scss';

.popular-questions {
  margin: $margin-top-mob 20px 0;
  padding: 80px 12px;
  background-color: $grey-background;
  border-radius: 32px;

  .container {
    padding-inline: unset;

    @include onDesktop {
      max-width: 604px;
    }
  }
  h2 {
    text-align: center;
  }
  @include onTablet {
    border-radius: unset;
    margin-inline: unset;
    margin-top: $margin-top-tab;
  }

  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 40px;
  }

  details {
    background-color: #353535;
    border-radius: 10px;
    padding: 16px;

     &[open] .plus {
      transform: rotate(45deg);   
    }

    summary {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      line-height: 1.6;

      @include onTablet {
        h4 {
          font-size: 20px;
        }
      }
    }


    div {
      margin-top: 20px;
    }
  }

  details summary {
    list-style: none;
  }

  details summary::-webkit-details-marker {
    display: none;    
  }

  .plus {
    font-size: 52px;
    color: $accent-color;
    font-weight: 700;
    transition: transform 0.3s ease;
  }
}
