
@import 'global.scss';
@import '../styles/utils/variables';
@import '../styles/utils/mixins';
@import '../styles/utils/extends';
@import '../styles/blocks/burger.scss';
@import '../styles/blocks/header.scss';

.container {
  margin: 0 auto;
  padding: 20px;
  min-width: 320px;
  background-image: url(../assets/ellipsis.svg);
  background-repeat: no-repeat;
  background-position: right;

    @include onTablet  {
      padding-inline: 0;
      width: 604px;
    }
    @include onDesktop  {
      width: 1230px;
    }
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @include onTablet {
    align-items: flex-start;
  }

  @include onDesktop {
   margin-top: 60px;
  }

  .call-to-action-btn-filled {
    width: 227px;
    height: 42px;
    padding: 12px 44px 12px 44px;
    border-radius: 10px;
    font-weight: 700;
    background-color: $accent-color;
  }

  p {
    margin-top: 12px;
    @include onTablet {
      font-size: 16px;
    }
  }
}

